.registration_form {
    background: linear-gradient(to bottom right, rgb(151, 107, 26), #e98c00);
    float: left;
    width: calc(100% - 240px);
    padding: 30px;
    border-radius: 20px 20px 20px 20px;
}


.registration_form label {
  display: block;
  font-size: 1.6em;
  margin-bottom: 2px;
  margin-top: 11px;
}

.registration_form input {
  width: 100%;
  font-size: 1.2em;
}

.registration_form input[type="checkbox"] {
  width: 12px;
}

.registration_form input[type="submit"] {
  font-family: Monotype Corsiva; 
  font-size: 25px;
}

body {
  font-family: Monotype Corsiva, Open Sans,Helvetica Neue,sans-serif;
  color: rgb(0, 47, 100);
}

button {
  margin-top: 10px;
  font-family: Monotype Corsiva, Open Sans,Helvetica Neue,sans-serif;
  border-radius: 20px 20px 20px 20px;
  background: hsla(187, 22%, 52%, 0.247); 
  padding: 7px 30px; 
  font-size: 25px; 
  font-weight: bold; 
  text-align: center; 
  cursor: pointer; 
}

